/* Sets up a grid container with three columns, central column takes most of the space */
.global-container {
    display: grid;
    grid-template-columns: 1fr min(95%, 1200px) 1fr;/* Central column adapts to screen size, maxing out at 1200px */
}
  
/* Targeting all direct children of global-container, spanning them to the middle column */
.global-container > * {
    grid-column: 2;
}

/* Resets for all elements, ensuring consistency and box model accuracy */
/* Base styles, mobile-first (no media query needed) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* Includes padding and border in the element's total width and height */
    list-style: none; /* Removes bullet points from lists */
}
  
/* Sets the default font for the body */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; /* Makes the font bold */
    line-height: 1.6; /* Adjusts the spacing between lines */
    color: #222; /* Sets the font color to a dark grey, similar to the screenshot */
}

  /* Wrapper for content, providing consistent spacing */
.wrapper {
    margin: 0 auto;/* Centers content horizontally */
    padding: 0 20px; /* Adequate padding on smaller screens */
    box-sizing: border-box; /* Ensures padding is included in width calculations */
}

/* Styles for the header */
header {
    background-color: #222; /* Dark background for the header */
    padding: 1em 0; /* Padding at the top and bottom */
}
  
/* Styling for the logo container within the header */
.logo-container {
    background-color: #c78c06; /* Gold color for the logo container */
    padding: 20px; /* Spacing around the logo */
    display: flex;  /* Enables flexbox layout for inner items */
    align-items: center; /* Vertically centers items within the logo container */
    justify-content: space-between;/* Distributes space between and around content items */
    margin-left: 20px;/* Left margin */
    margin-right: 20px;/* Right margin */
}
  
/* Styles for the navigation menu */
nav {
    display: flex;
    flex-direction: column; /* Organizes navigation items in a column */
    align-items: center; /* Center navigation  items horizontally */
    background-color: #c78c06;/* Background color to match the logo container */
    margin-left: 20px;/* Left margin */
    margin-right: 20px;/* Right margin */
}
  

nav ul {
    width: 100%; /* Full width of the nav container */
}
  

nav li {
    display: block;/* Displays each navigation item as a block for easier styling */
}
  
nav a {
    display: block; /* Ensures the link uses the full width of its container */
    padding: 1em; /* Padding for the links */
    color:#c78c06; /* Text color for the links */
    text-decoration: none; /* Remove underlines from links */
    text-align: center; /* Center text within the link */
    background-color: #222; /* Dark background for the links */
    border-top: 1px solid #c78c06; /* Separates items with a top border */
}
nav a:first-child {
    border-top: none;/* Removes top border for the first link */
}
  
nav a:not(:last-child) {
    border-bottom: 1px solid #c78c06;
}

/* The active link style */
.active {
    background-color: #c78c06;/*  background for the active link */
    color: #222; /* Dark text for the active link */
}
  
/* Styles for the search container */
.search-container {
    display: flex; /* Enables flexbox layout to center the search form */
    justify-content: center;/* Centers the search form horizontally */
    position: relative;/* Needed for absolute positioning of children */
}
  
/* Styles for the search form */
.search-container form {
    position: relative;  /* Allows absolute positioning within the form */
    width: calc(100% - 2em);/* Calculates width, subtracting fixed padding */
}
  
/* Styles for the text input within the search form */
.search-container input[type="text"] {
    width: 100%; /* Uses all available width */
    padding: 0.5em; /* Padding inside the search input */
    /*border: 2px solid #C48E2B;  Gold-yellow border for the input */
    /*border-radius: 5px 0 0 5px;  Rounded corners on the left side */
    border-right: none; /* Remove right border */
}
                
.search-container button {
    position: absolute;  /* Absolutely positions the button within the form */
    right: 0;  /* Aligns the button to the right edge of the input */
    top: 0; /* Aligns the button to the top of the input */
    width: 30px; /* Fixed width for the button */
    height: 100%; /* Height to match input field */
    border: 2px solid #c78c06; /* Gold-yellow border for the button */
   /* border-left: none;  Remove left border */
    background-color: #222; /* Dark background for the button */
    color: #c78c06; /* Gold-yellow color for the icon */
    padding: 10px;  /* Padding to center the icon vertically */
   /*  border-radius: 0 5px 5px 0; Rounded corners on the right side */
    cursor: pointer;/* Change the cursor to a pointer to indicate clickability */
}

/* Sets up a flexible display container to center the banner content horizontally and vertically */
.banner {
    display: flex; /* Enables flexbox layout which is a more efficient way to  align and distribute space among items in a container, even when their size is unknown */
    justify-content: center; /* Centers content horizontally within the container */
    align-items: center; /* Centers content vertically within the container */
    position: relative;/* Sets the position relative to its normal position */
    color: white;/* Sets the text color */
    background-image: url('../images/main-banner.jpg');/* Path to the background image */
    min-height: 400px; /* Minimum height of the banner */
    background-position: center; /* Ensures the image is centered */
    background-size: cover; /*  Ensures the image covers the entire banner */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    overflow: hidden; /* Ensure no content spills out of the banner */
}

/* Creates a dark overlay before the content for better text visibility */
.banner::before {
    content: ''; /* Necessary for before and after pseudo-elements to work */
    position: absolute;/* Positions the pseudo-element absolutely within the relative container */
    top: 60px;/* Distance from the top, providing a sort of padding effect */
    left: 0;/* Aligns to the left edge */
    right: 0;/* Aligns to the right edge */
    bottom:60px;/* Aligns to the bottom edge */
    background: rgba(0, 0, 0, 0.5);  /* Dark Semi-transparent black overlay */
    z-index: 0; /* Positioned behind the content for a darkening effect  */
}

/* Styling for the content inside the banner */
.banner-content {
    position: relative;  /* Ensures the content is positioned relative to the banner */
    z-index: 1; /* Ensures the content is above the ::before overlay */
    width: 100%; /* Ensures the content spans the full width of its container */
    padding: 20px; /* Adds horizontal padding for inner spacing */
    text-align: left; /*Aligns text to the left side*/
}

/* Styling for the image used as a background within the banner */
.banner img {
    width: 100%; /* Full width to cover the banner */
    height: auto; /* Maintain the image aspect ratio */
    display: block;/* Displays the image as a block, taking up the full line */
    position: absolute;/* Ensures the image fills the banner area */
    top: 0;/* Aligns the image to the top of the banner */
    left: 0;/* Aligns the image to the left of the banner */
    z-index: -1; /* Ensures the image stays in the background behind the overlay */
}

/* Styling for the main heading within the banner */
.banner h1 {
    font-size: 60px;/* Sets the font size */
    font-weight: bold; /* Bold font for emphasis */
    margin-bottom: 40px;  /* Creates space below the heading */
    margin-top: 2em; /* Adds space above the heading for visual balance */
    line-height: 1.2; /* Increases the line height to add space between wrapped lines */
    color: white; /* Text color for contrast against the dark background */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Adds a text shadow for better readability */
}

/* Styling for the paragraph within the banner */
.banner p {
    font-size: 20px;/* Sets the font size for the paragraph */
    margin-bottom: 30px;  /* Adds space below the paragraph */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Adds a text shadow for better readability */
}

/* Styles for call-to-action button */
.connect-btn {
    display: inline-block;/* Allows block-level styling with inline behavior */
    background-color: #c78c06; /* Button background color */
    color: black; /*  Text color inside the button*/
    padding: 30px;  /* Provides internal space within the button */
    text-decoration: none;/* Removes underline from text */
    font-size: 20px;/* Sets the font size for the button text */
    border: none;/* Removes the default button border */
    margin-bottom: 60px; /* Adds space below the button */   
}

.connect-btn .fa-solid.fa-caret-right {
    font-size: 2em; /* Sets the icon size relative to the button text */
}



/* Styles for the About Us section */
.about-section {
    background-color: #ffe6ac; /* Light yellow background */
    padding: 0px 0;/* Zero top and bottom padding; adjust as necessary for spacing */
    text-align: left;/* Aligns text to the left for consistency with natural reading direction */
}

.about-section .container {
    max-width: 100%; /* Ensures the container's maximum width is the full width of its parent */
    margin: auto; /* Centers the container within the parent element */
   /* Removed display: flex; since we're not using flexbox for a stacked layout */
    /* Removed align-items: center; since it's not needed without flexbox */
    /* Removed gap: 5px; since it's not needed without flexbox */
}

.about-image-container {
    padding: 20px; /* Adds padding around the image for spacing from other elements */
}

.about-image-container img {
    width: 100%;  /* Makes the image responsive, adjusting its width to the container */
    height: auto;/* Keeps the image's aspect ratio intact as it resizes */
    display: block;  /* Prevents inline-level space below the image */ 
}

.about-content {
    padding: 20px;  /* Adds internal spacing to the text content area */ 
}

.about-content h2 {
    font-size: 50px;  /* Large font size for the header */
    font-weight: bold; /* Bold font weight for emphasis */
    margin-bottom: 30px; /* Creates separation from the heading to the text that follows */
    color: #222; /* Dark color for text for better readability */
    
}

.about-content p {
    font-size: 1em; /* Font size  set */
    font-weight: bold; /* Bold font weight to complement the header style */
    color: #222;  /* Dark color for text for better readability */
    
}

.about-content p:nth-child(2) {
    margin-bottom: 20px;/* Adds space below the second paragraph to separate content sections */
}



#services {
    background-color: white;  
    padding: 20px ; /* Space around the services section */
}

#services .services-header {
    text-align: left;
    font-size: 2.5em;
    color: #222; /* Dark  color for contrast and readability */
    font-weight: bold;/* Bold font weight for the section header */
    margin-bottom: 0.2em; /* Space below the header */  
}

#services .service-item {
    background-color: #ffe6ac; /* Light yellow background for service items */
    margin-bottom: 30px;   /* Space below each service item */  
}

#services .service-item img {
    width: 100%;/* Full width of their container */
    height: auto;/* Maintain aspect ratio */
    display: block; /* Ensures that the image takes up its own line */
    margin-bottom: 1em;  /* Space below the image */
}



#services .service-content p {
    font-size: 1em;/* font size for paragraph */
    color: #222; /* Dark grey color for improved readability */
    margin-bottom: 20px; /* Space below paragraphs to separate from other content */
}

#services .service-content {
    padding: 20px;/* Uniform padding inside the container for spacing */
}
#services .service-content h3 {
    font-size: 2em;/* Double the standard text size for clear hierarchy */
    color: #222; /* Dark grey color for heading, matching the paragraph color for consistency */
    margin-bottom: 20px;/* Space below the heading to separate from the paragraph */
}


#services .service-link {
    display: inline-block;/* Allows block-level styling with inline behavior */
    background-color: #222;  /* Dark background color for links/buttons */
    color: white; /* White text for readability */
    padding: 30px 50px; /* Padding inside the link/button for clickable area */
    text-decoration: none;/* Removes underline from link */
    font-size: 20px;
    font-weight: bold;/* Bold font weight for the text in the link/button */
    border: none;/* No border for the link/button */
    margin-top: 20px;/* Space above the link/button */
    transition: background-color 0.3s ease;/* Smooth color change effect on hover */
    display: inline-block; /* Allows the link to have block properties but flow like inline */
    padding: 30px; /* Padding inside the link */
}
#services .service-link i {
    font-size: 2em; /* font size for the icon inside the button */
}

#services .service-link:hover {
    background-color: #b37d35; /* Change background color on hover for interaction feedback */
}


.service-item#our-vision {
    background-color: transparent; /* Transparent background for the vision section */ 
    width: calc(100% + 10%); /* Width slightly larger than its container to stand out */
    transform: translateX(-5%); /* Correctly centering the extended width */
}

  .service-item#our-vision img {
    width: 100%;/* Full width to fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block;  /* Ensures the image is displayed as a block */  
    max-height: 300px; /* Limiting the maximum height for better aesthetic balance */
  }
  
  .service-item#our-vision .service-content {
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%);/* Offset the position to truly center the content */
    width: 95%;  /* Slightly less than the full width for padding effect */
    margin: 0 auto; /* Horizontally centers the content */
    position: absolute;/* Absolute position to place it over the image */
    padding: 18px; /* Internal spacing */
  }

  .service-item#our-vision h3 {
    font-size: 2.5em; /* Large font size for heading */
    margin-bottom: 0.5em;/* Space below the heading */
    color: white; /* Text color */
  }
  
  .service-item#our-vision  p {
    font-size: 1em; /* font size for paragraph */
    margin-bottom: 1em;/* Space below the paragraph */
    color: white; /* Text color */
  }
  
  .service-item#our-vision  .service-link {
    background-color: #051d35; /* Dark blue background for the button *
    color: white; /* White text for contrast */
    text-decoration: none; /* No underline for the link */
    font-weight: bold;/* Bold font for emphasis */
    border: 2px solid #c78c06;/* Border color to match the theme */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
   margin-bottom: 1em;/* Space below the button */
  }
  
  .service-item#our-vision  .service-link:hover {
    background-color: #c78c06; /* Gold color on hover for visual feedback */
}


#our-team {
    margin-top: -60px; /* Reduce the top margin to pull the 'Our Team' section upwards */
   
}

#our-team .wrapper {
    padding-right: 40px; /* Reduced right padding to decrease space on the right */
}

.team-member .content-wrapper {
    max-width: 1200px; /* Maximum width for content alignment */
    margin: auto; /* Centers the content within the team member */
    padding-left: 20px; /*  space so that the content dont touch the edge of the container  */
    padding-right: 10px;/*  space so that the content dont touch the edge of the container  */
 } 

.team-member {
    background-color: #ffe6ac; /* Light yellow background for visibility */
    margin-bottom: 30px; /* Space below each team member */
    padding-bottom: 30px; /* Padding at the bottom for separation */
    margin-left: 20px;  /* Ensures spacing from the left */
    grid-column: 2; /* Positions team member in the central column of the grid */
}

.team-member img {
    width: 100%; /* Full width to ensure responsiveness */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Block display to ensure it takes full line */
}
  #our-team h2 {
    text-align: left;
    font-size: 2.5em; /* Large font size for emphasis */
    color: #222; /* Dark grey color for readability */
    font-weight: bold; /* Bold font weight for importance */
    margin-bottom: 0.2em; /* Small margin below the heading */
    padding: 30px; /* Padding around the heading for spacing */
}
  
.team-member h3 {
    font-size: 1.5em; /* Slightly larger font for headings */
    font-weight: bold; /* Bold font for headings */
    margin-top: 20px; /* Top margin for spacing */
    margin-bottom: 10px; /* Bottom margin for spacing */
}

.team-member p {
    margin-bottom: 20px; /* space below */
  }

  .team-member p:first-of-type {
    border-bottom: 2px solid #c78c06;  /* Orange border for visual separation */
  }
  
  
/* Styles for the Contact Us section */
  #contact-us {
    text-align: left; /* Aligns text to the left */
    padding: 20px; /* Padding around the section */
}

 #contact-us h2 {
    font-size: 36px; /* Sets the size of the font */
    font-weight: bold; /* Makes the font bold */
    margin-bottom: 0.5em; /* Space below the heading */
}

 #contact-us h3 {
    font-size: 30px; /* Sets the size of the font for subheadings */
    font-weight: bold; /* Makes the font bold */
    margin-bottom: 0.5em; /* Removes space below subheadings to reduce gap */
}

 #contact-us form {
    display: grid; /* Uses grid layout for form elements */
    gap: 10px; /* Reduces space between grid items */
}

 #contact-us label {
    display: block; /* Ensures labels are on their own line */
    margin-bottom: 2px; /* Reduces space below each label */
}

 #contact-us input[type="text"],
 #contact-us input[type="email"],
 #contact-us textarea {
    width: 100%; /* Full width of their container */
    padding: 10px; /* Padding inside the fields */
    border: 1px solid #222; /* Specifies border color and style */
} 
 
 #contact-us textarea {
    resize: vertical; /* Allows vertical resizing only */
    height: 150px; /* Sets the initial height */
}

 #contact-us button {
    padding: 10px 20px; /* Padding inside the button */
    display: inline-block; /* Allows block level properties */
    background-color: #222; /* Button background color */
    color: #c78c06; /* Text color */
    border: none; /* No borders */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
    text-align: center; /* Centers text inside the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for 3D effect */
    font-size: 1.5em; /* Increases font size for better readability */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    justify-self: start; /* Aligns button to the start of the grid area */
}

 #contact-us button:hover {
    background-color: #c78c06; /* Changes background color on hover */
}

/* Styles for the Hours of Operation and Location sections */
  .hours-operation,
  .location {
    width: 100%; /* Limits the maximum width to 100% of their container */
    margin: 0 auto; /* Centers the sections horizontally within their parent */
    padding: 20px;
}

 .hours-operation h3 {
    font-size: 24px; /* Large font size for visibility */
    font-weight: bold; /* Bold font weight for emphasis */
    margin-bottom: 15px; /* Space below the header */
}


 .hours-operation table {
  border-collapse: collapse; /* Collapses border so that adjacent borders are merged */
  width: 100%; /* Table width is set to fill its container */
 }


 .hours-operation th {
    background-color: #ffe6ac; /* Light yellow background for headers */
    color: #222; /* Dark color for text for better contrast */
    text-align: center; /* Centers text within the header cells */
    border: 1px solid #222; /* Dark borders for definition */
    padding: 8px; /* Padding within the cells for spacing */
}


 .hours-operation td {
    border: 1px solid #222; /* Dark borders for definition */
    padding: 8px; /* Padding within the cells for spacing */
    text-align: left; /* Aligns text to the left within the data cells */
    background-color: #FFFFFF; /* White background for data cells for clarity */
}


 .location h3 {
    font-size: 24px; /* Large font size for visibility */
    font-weight: bold; /* Bold font weight for emphasis */
    margin-bottom: 15px; /* Space below the header for separation */
}

 .location iframe {
    width: 100%; /* Ensures the iframe takes full width of its container */
    height: 450px; /* Fixed height for adequate display of the map */
    border: 0; /* Removes border around the iframe for a cleaner look */
    margin-top: 10px; /* Space above the iframe for visual separation */
}

/* Styling for the copyright section */
 .copyright { 
    background-color: #222; /* Black background for contrast */
    padding: 20px ; /* Padding for internal spacing */
    text-align: left; /* Aligns text to the left */
    width: calc(100% + 10%); /* Width slightly more than its container to create a stretched effect */
    transform: translateX(-5%); /* Horizontally shifts the section to center it */
}


 .copyright p {
    color: #c78c06; /* color for text to stand out against the black background */
    padding: 20px; /* Padding around text for comfortable reading */
}


 .underline{
   text-decoration: underline; /* Adds an underline to the text for emphasis or distinction */
    color: #c78c06; /* Sets the text color to a specific shade of orange for visual consistency or highlighting */
}



 button,
 input[type="submit"],
 .service-link { 
    display: inline-block;  
     /* margin-top: 20px;     */
    text-align: center; 
 }


.service-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;   
}


@media screen and (min-width: 760px) {
    .search-container {
        display: flex; /* Utilizes flexbox to control layout within the search container */
        justify-content: flex-end; /* Positions the search form towards the right end of its container */
    }

    .search-container form {
        display: flex; /* Sets the form elements in a row using flexbox */
        flex-grow: 0; /* Prevents the form from expanding beyond its content size */
    }

       /* Ensures vertical alignment of all immediate children in the header */
       header > * {
        display: flex; /* Enables flexbox to align elements horizontally */
        align-items: center; /* Centers elements vertically within the header */
    }

    /* Additional styles for the input and button if needed */
    .search-container input[type="text"],
    .search-container button {
        height: 40px; /* Adjust the height as needed */
    }

     /* Ensures items do not wrap and are flexibly laid out */
     .logo-container, nav, .search-container {
        flex-shrink: 0; /* Prevents the elements from shrinking below their content size */
      
    }

  
    .logo-container, nav ul li, .search-container {
        margin-right: 20px; /* Uniform right margin for alignment */
        margin-left: 2px;
    }

    /* To prevent the last margin-right from pushing layout, set margin-right to 0 for the search-container */
    .search-container {
        margin-right: 0;
        margin-right: 20px; /* Ensures the search container aligns correctly with other header elements */
    }


    header {
        display: flex; /* Enables flexible layout of child elements */
        align-items: center; /* Vertically aligns elements within the header */
        justify-content: space-between; /* Distributes space between elements */
        padding: 0.5em 2em; /* Padding around the header */
    }

    nav {
        display: flex; /* Utilizes flexbox for layout */
        background-color: transparent; /* Maintains transparency for aesthetic purposes */
        margin: 0 1em; /* Margin on both sides of navigation */
    }

    nav ul {
        display: flex; /* Sets navigation items in a row */
        gap: 1em; /* Spaces between each navigation item */
        list-style: none; /* Removes default list styling */
        padding: 0; /* Resets padding to 0 */
        margin: 0; /* Resets margin to 0 */
        align-items: center; /* Centers items vertically within the navigation */
    }

    nav ul li {
        border: none; /* Removes borders from list items */
        background: none; /* Removes any background images or colors that might be causing lines */
    }


    .banner-content {
        position: relative; /* Positions content over the background */
        bottom: 10%; /* Distance from the bottom of the banner */
        left: 0;
        right: 0;
        width: calc(100% - 60px); /* Width adjusted by subtracting margins */
        margin-left: auto;
        margin-right: auto;
        padding: 20px; /* Padding inside the banner content */
        text-align: left; /* Aligns text to the left */
        color: white; /* Text color for readability */
        z-index: 1;
    }
    
    .banner::before {
       margin-left: 50px;
       margin-right:20px;
        
    }
    
    
    .banner h1 {
        font-size: 4em; /* Adjust the font size for desktop */
        margin-bottom: 0.5em; /* Space below the headline */
    }
    
    .banner p {
        font-size: 1.2em; /* Adjust the font size for desktop */
        margin-bottom: 1em; /* Space below the paragraph */
    }
    
    .connect-btn {
        display: inline-block;
        background-color: #C48E2B; /* Background color */
        color: black; /* Text color */
        padding: 30px; /* Internal padding */
        text-decoration: none; /* No underline */
        font-weight: bold; /* Bold text */
        border: none; /* No border */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }
    
    .connect-btn:hover {
        background-color: #a76c2f; /* Darken the button on hover for interaction feedback */
    }
    
    .header, .nav {
        /* These styles should ensure the header/nav is at the top of the page */
        position: relative; /* Ensure that the position is set to relative for z-index stacking */
        z-index: 10; 
        padding-left: 30px; /* Match this to the banner-content's side padding */
        padding-right: 30px; /* Higher z-index to stack above the .banner-content */
    }
    
   /* General banner container styles with  */
  .banner {
    position: relative;
    overflow: hidden; /* Prevents overflow of child elements */
  }

     /* Padding provides space at the top and bottom of the section, with text aligned to the left */
        .about-section {
            padding: 50px 0; 
            text-align: left;
        }
    
        /* Flex container setup for the About section wrapper to center items and space them appropriately */
        .about-section .wrapper {
            display: flex; /* Use flexbox for layout */
            align-items: center; /* Vertically center the items */
            justify-content: space-between; /* Add space between the image and text */
            max-width: 1200px; /* maximum width you prefer */
            margin: 0 auto; /* Center the wrapper if there's extra space on the sides */
        }
    
        .about-image-container,
        .about-content {
            flex: 1; /* Both children will grow and take up equal space */
        }
    
        .about-image-container {
            margin-right: 20px; /* Add some margin to separate the image from the text */
        }
        .about-image-container img {
            margin-left: 10px;/* Additional left margin on the image itself for fine-tuned alignment */
        }
    
        .about-content h2 {
            font-size: 2rem; /* Adjust font size as necessary */
            margin-bottom: 1rem; /* Space below the heading */
        }
    
        .about-content p {
            font-size: 1rem; /* Adjust font size as necessary */
            margin-bottom: 1rem; /* Space below each paragraph */
        }
    
   /* Grid container for services list with 6 equal columns and consistent gap between grid items */
    #services .services-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* Creates a 6-column layout */
        gap: 20px; /* Sets spacing between grid items */
    }
   
    #services .service-link {
        display:block;
    }
    
    #services .service-item {
          margin-bottom: 30px; /* Space below each item */
          margin-bottom: 0; 
    }

    /* Target the first two service items for 50-50 split */
  /* Specific grid span for the first two service items to equally divide them over the first row */
#services .service-item:nth-of-type(1),
#services .service-item:nth-of-type(2) {
    grid-column: span 3; /* Each item takes up half of the grid (3 out of 6 columns) */
}

    /* Target the bottom three service items to split the space into thirds */
    #services .service-item:nth-of-type(n+3) {
        grid-column: span 2; /* Each takes up one-third of the space (2 out of 6 columns) */
    }

    #services .service-content h3 {
        padding: 20px;
        font-size: 1.3em;
       
    }
    #services .service-content p {
        padding: 20px; 
    }
    
       
 /* Target 'Our Vision',  it's the sixth item */
 #services .service-item:nth-child(6) {
    grid-column: 1 / -1; /* Spans from the first to the last column of the grid */
    background-color: white; /* Sets a white background, making it stand out from other items */
}


  .service-item#our-vision .service-content {
    left: 50%; /* Horizontally centers the content */
    margin-bottom: 10px; /* Space below the content */
    padding: 20px; /* Padding around the content for balance */
}

  
  .service-item#our-vision .service-content h3 {
        font-size: 3em; /* Large font size for visual impact */
        margin-bottom: 2px; /* Minimal space below the header */
        padding: 2px; /* Padding for the header */
        margin-top: 50px; /* Space above the header to shift it downwards */
    }
  
 
  .service-item#our-vision .service-content p {
    margin-bottom: 2px; /* Minimal space below the paragraph */
    padding: 2px; /* Padding for the paragraph */
}
  
  .service-item#our-vision .service-content .service-link {
    display: inline-block; /* Allows block-level elements to sit inline */
    margin-top: 3px; /* Space above the link/button */
    margin-bottom: 40px; /* Space below the link/button */
}
  
 

#our-team .wrapper {
    max-width: 1200px; /* Maximum width for alignment */
    margin: auto; /* Centers the container within its parent */
    padding: 0; /* No padding on the sides of the wrapper */
    margin-right: 30px;
}

#our-team .team-member {
    display: flex; /* Enables flexbox layout */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    background-color: #ffe6ac; /* Light yellow background for contrast */
    padding: 0px; /* No padding inside the team member container */
}

#our-team .team-member img {
    width: 50%; /* Sets the image to take up half the width of its container */
    height: auto; /* Keeps the image aspect ratio consistent */
    object-fit: cover; /* Ensures the image covers its container without distortion */
    margin: 0; /* No margin around the image */
}

#our-team .content-wrapper {
    padding: 20px; /* Padding inside the content area */
    margin-top: -20px; /* Adjusts the content position upwards */
    flex-grow: 1; /* Allows the content to fill the available space */
}
#our-team .team-member:nth-of-type(1) {
    margin-bottom: 0; /* Removes space below the first and second team member */
}

#our-team .team-member:nth-of-type(2) {
    flex-direction: row-reverse; /* Reverses the order of flex items */
}

#our-team h2 {
    margin-bottom: 5px; /* Reduces space below the header */
}

.hours-location-container {
    display: flex;
    flex-wrap: wrap; /* Allows children to wrap to next line as needed */
    align-items: flex-start; /* Aligns children to the top of the container */
    justify-content: space-between; /* Distributes space between children evenly */
}

  .form-content, .location {
    flex: 0 0 calc(50% - 20px); /* Flex basis calculation for 50% width minus spacing */
    max-width: calc(50% - 20px); /* Maximum width calculation to prevent overflow */
}
#contact-us h3 {
    margin-bottom: 35px; /* Provides space between the sub-header and following elements */
}

#contact-us h2 {  
    transform: translateX(-20px); /* Shifts header to the left for alignment */
}

 
  /* Adjusted .form-content to shift slightly to the left */
  .form-content {
    transform: translateX(-19px); /* Horizontally shifts the form to align with other content */
    margin-bottom: 0; /* Removes bottom margin to reduce extra space */
}

  .location {
    margin-left: auto; /* Auto margin for right-alignment */
   /*  Using a large negative margin-top to align this element correctly with the form-content.
    This method was chosen after other flexbox adjustments did not provide the correct visual alignment.
    */
    margin-top: -550px; /* Large negative margin to pull the element upwards */
    margin-right: 0; /* Ensures no additional margin on the right */
}

  /* Ensures Hours of Operation takes full width and is ordered last */
  .hours-operation {
    flex: 1 0 100%; /* Flex grow to take all available width */
    max-width: 100%; /* Maximum width set to 100% */
    order: 3; /* CSS order property to place it last in the flex container */
    margin-bottom: 20px; /* Space below the hours of operation */
   padding: 1px;
}
 

.copyright p{
    padding-left: 24px; /* Add space above the copyright div */
}

.copyright {
    padding: 10px 50px; /* Reduced vertical padding to decrease height */
    margin-bottom: 30px; /* Space above the copyright div */
    width: calc(100% + 20%); /* Keeps the width styling as is */
    transform: translateX(-5%); /* Maintains the horizontal position */
}
.location iframe {
  
    margin-left: 13px; /* Adds a left margin to push the map to the right */
   
}

}